{% extends 'base/base.html' %}
{%block content%}
{% load static %}
    <!-- Page Banner Section -->
    <section class="page-banner">
        <div class="image-layer" style="background-image: url({% static 'images/background/bg-page-title-5.jpg' %}"></div>

        <div class="auto-container">
            <h1>Event Details</h1>
        </div>

        <div class="breadcrumb-box">
            <div class="auto-container">
                <ul class="bread-crumb clearfix">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li class="active">Event Details</li>
                </ul>
            </div>
        </div>

    </section>
    <!--End Banner Section -->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="event-detail-image">
                <figure class="image"><img src="{% static 'images/resource/event-image-8.jpg' %}" alt=""></figure>
                <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2019/12/22"></div></div>
            </div>

            <div class="row clearfix">

                <!--Content Side / Blog Detail-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="post-details">
                        <!--Event Details-->
                        <div class="event-details">
                            <div class="lower-box">
                                <h2>Mental Health Charity Event</h2>
                                <div class="info-box clearfix">
                                    <div class="cause-info">
                                        <ul class="clearfix">
                                            <li><span class="far fa-clock"></span> August 31 - Starts 5.00 PM - Ends 9:00 PM</li>
                                            <li><span class="fa fa-map-marker-alt"></span> Tottenham, London N17 6HW</li>
                                        </ul>
                                    </div>
                                    <div class="clearfix">
                                        <div class="link-box">
                                            <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Partcipate In this</span></a>
                                        </div>
                                        <div class="share-post clearfix">
                                            <div class="share-title">Share This</div>
                                            <ul class="social-links clearfix">
                                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="post-content">
                                    <h3>About This Event</h3>
                                    <p>Consectetur adipisicing elit usmod tempor incididut laboret ipsum dolore magna aliquaut enim mini veniam quis trud exercitation ullamco sed labo nisiut aliquip ex ea consequat duis aute rue dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                                    </p>
                                    <p>Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cilum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese runt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
                                    <p>sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesci- unt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-12">
                                            <figure><img src="{% static 'images/resource/blog-image-13.jpg' %}" alt=""></figure>
                                        </div>
                                        <div class="image-column col-md-6 col-sm-12">
                                            <figure><img src="{% static 'images/resource/blog-image-14.jpg' %}" alt=""></figure>
                                        </div>
                                    </div>
                                    <p class="big-text">People like you are helping & making good things happen.</p>
                                    <p>Quis trud exercitation ullamco sed labo nisiut aliquip ex ea consequat duis aute rue dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Nisi ut aliquip ex ea commodo consequat.  Duis aute irure dolor in reprehenderit in voluptate velit esse cilum.</p>
                                    <div class="featured-video-box">
                                        <div class="inner">
                                            <div class="image">
                                                <img src="{% static 'images/resource/video-image-1.jpg' %}" alt="">
                                                <a href="https://www.youtube.com/watch?v=C9rVAbcQH_U" class="lightbox-image">
                                                    <span class="fa fa-play"></span>
                                                </a>
                                            </div>
                                            <h4><a href="https://www.youtube.com/watch?v=C9rVAbcQH_U" class="lightbox-image">Watch The Event Video</a></h4>
                                            <div class="link-box"><a href="#" class="default-link">Download brochure</a></div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-12">
                                            <figure><img src="{% static 'images/resource/blog-image-12.jpg' %}" alt=""></figure>
                                        </div>
                                        <div class="column col-md-6 col-sm-12">
                                            <div class="inner">
                                                <!--Accordion-->
                                                <div class="accordion-box">
                                                    <!--Block-->
                                                    <div class="accordion block current wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                                        <div class="acc-btn active">A book to help people <div class="icon flaticon-cross"></div></div>
                                                        <div class="acc-content">
                                                            <div class="content">
                                                                <div class="text">Alit usmod tempor incididunt laboret doloe  quis trud exercitation ullamco laboris nisiut rue dolor prehendrit lorem.</div>
                                                            </div>
                                                        </div>
                                                    </div> 

                                                    <!--Block-->
                                                    <div class="accordion block wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                                                        <div class="acc-btn">Our mission to achieve <div class="icon flaticon-cross"></div></div>
                                                        <div class="acc-content">
                                                            <div class="content">
                                                                <div class="text">Alit usmod tempor incididunt laboret doloe  quis trud exercitation ullamco laboris nisiut rue dolor prehendrit lorem.</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--Block-->
                                                    <div class="accordion block wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                                        <div class="acc-btn">Show support for needy<div class="icon flaticon-cross"></div></div>
                                                        <div class="acc-content">
                                                            <div class="content">
                                                                <div class="text">Alit usmod tempor incididunt laboret doloe  quis trud exercitation ullamco laboris nisiut rue dolor prehendrit lorem.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--End Accordion-->
                                            </div>
                                        </div>
                                    </div>
                                    <p>Sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesci- unt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--End Content Side-->

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar">
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <div class="widget-inner">
                                <h3>Find an Event</h3>
                                <div class="widget-content">
                                    <form method="post" action="http://t.commonsupport.xyz/kausid/contact.html">
                                        <div class="form-group">
                                            <input type="search" name="search-field" value="" placeholder="Search" required>
                                            <button type="submit"><span class="icon fa fa-search"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--Organizer Widget-->
                        <div class="sidebar-widget organizer-widget">
                            <div class="widget-inner">
                                <h3>About Event</h3>
                                <div class="widget-content">
                                    <div class="upper-box">
                                        <figure class="image"><a href="#"><img src="{% static 'images/resource/author-thumb-4.jpg' %}" alt=""></a></figure>
                                        <h5>Organizer:</h5>
                                        <div class="organized-by"><a href="#">Timy benson</a></div>
                                        <div class="date">August 31, 2019</div>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="text">Auis nostrud exercitation ullam laboris aliquip exsed consequat duis aut psum dolore magna aliqua minim</div>
                                </div>
                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget category-widget">
                            <div class="widget-inner">
                                <h3>Categories</h3>
                                <div class="widget-content">
                                    <ul>
                                        <li><a class="clearfix" href="blog-single.html">Health & Medical <span class="count">93</span></a></li>
                                        <li class="active"><a class="clearfix" href="blog-single.html">Social Welfare <span class="count">04</span></a></li>
                                        <li><a class="clearfix" href="blog-single.html">Disability <span class="count">54</span></a></li>
                                        <li><a class="clearfix" href="blog-single.html">Poor Education <span class="count">71</span></a></li>
                                        <li><a class="clearfix" href="blog-single.html">International Aid <span class="count">22</span></a></li>
                                        <li><a class="clearfix" href="blog-single.html">Animals & Pets <span class="count">31</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> 

                        <!-- Post Widget -->
                        <div class="sidebar-widget recent-donors">
                            <div class="widget-inner">
                                <h3>Recent Supporters</h3>
                                <div class="widget-content">
                                    <div class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><a href="cause-single.html"><img src="{% static 'images/resource/author-thumb-5.jpg' %}" alt=""></a></figure>
                                            <div class="amount">$60</div>
                                            <h5 class="donor-name"><a href="cause-single.html">Scott William</a></h5>
                                            <div class="post-info">2 Hours Ago</div>
                                            <div class="text">Amazing Charity & Cause!</div>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><a href="cause-single.html"><img src="{% static 'images/resource/author-thumb-6.jpg' %}" alt=""></a></figure>
                                            <div class="amount">$75</div>
                                            <h5 class="donor-name"><a href="cause-single.html">Scott William</a></h5>
                                            <div class="post-info">2 Hours Ago</div>
                                            <div class="text">Amazing Charity & Cause!</div>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><a href="cause-single.html"><img src="{% static 'images/resource/author-thumb-7.jpg' %}" alt=""></a></figure>
                                            <div class="amount">$50</div>
                                            <h5 class="donor-name"><a href="cause-single.html">Scott William</a></h5>
                                            <div class="post-info">2 Hours Ago</div>
                                            <div class="text">Amazing Charity & Cause!</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        

                    </aside>
                </div>
                <!--End Sidebar Side-->
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->

   {% endblock content %}